
#artboard{
  height: 600px;
  z-index: 101;
}

.warning{
  z-index: 100;
  background: #ff7e7e;
  color: #900707;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid deeppink;
  position: absolute;
  font-family: 'Consolas', monospace;
}

.message{
  z-index: 100;
  min-width: 1000px;
  color: #607D8B;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  font-family: 'Consolas', monospace;
}


.beam{
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(242,48,184,0.4) 0%,rgba(125,185,232,0) 100%);
  filter: blur(5px);
  opacity: 0;
  z-index: 50;
}

.beam2{
  position: absolute;
  background: white;
  opacity: 0.8;
  filter: blur(15px);
  z-index: 80;
}
